/* COLORS */
$charcoal: #264653ff;
$persian-green: #2a9d8fff;
$orange-yellow-crayola: #e9c46aff;
$sandy-brown: #f4a261ff;
$burnt-sienna: #e76f51ff;

* {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.kp {
    margin: 70px 10px 0;

    &__title {
        font-size: 30px;
    }

    &__menu__item {
        color: black;
        font-size: 18px;
        padding: 5px 10px;
        border: 1px solid black;
        text-decoration: none;
        margin: 10px 0;
        display: block;
        width: fit-content;
    }

    &__form {
        margin-top: 30px;

        &__item {
            margin: 10px 0;
        }

        &__button {
            padding: 5px 15px;
            cursor: pointer;
            background-color: none;
            border: 1px solid black;
            border-radius: 4px;
            font-size: 16px;
        }
    }
}

.nav {
    &__wrapper {
        background-color: $sandy-brown;
        height: 70px;
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        font-size: 20px;
    }

    &__items {
        display: flex;
        align-items: center;
        justify-content: end;

    }

    &__item {
        padding: 10px 20px;
        list-style-type: none;

        &:last-child {
            padding: 10px 0 10px 20px;
        }
    }

    &__link {
        font-size: 20px;
        color: $charcoal;
        text-decoration: none;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(0,0,0,1);
    box-shadow: 15px 15px 1px $burnt-sienna, 15px 15px 1px 2px rgba(0,0,0,1);
    max-width: 400px;
    margin: 50px auto 100px;
    padding: 50px 100px;

    &__title {
        font-size: 30px;
        text-align: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        label {
            font-size: 18px;
        }
        input {
            border: none;
            border-bottom: 5px solid $persian-green;
            padding-left: 5px;
            min-width: 250px;
            font-size: 18px;
            line-height: 36px;
            margin: 10px 0 20px;
            
            &:focus {
                border-bottom: 5px solid $charcoal;
                outline: none;
            }
        }
    }

    &__button {
        background-color: $burnt-sienna;
        border: 1px solid black;
        color: white;
        padding: 5px 20px;
        box-shadow: 3px 3px 1px $charcoal, 3px 3px 1px 1px rgba(0,0,0,1);
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 15px;
        cursor: pointer;
    }
}

.menu {
    &__logo {
        display: block;
        margin: 120px auto 0;
        width: 440px;
    }
}

.resultados {
    margin: 0 auto;

    &__heading {
        th {
            border: 1px solid #ddd;
            padding: 12px 8px;
            text-align: left;
            background-color: $burnt-sienna;
            color: white;
        }
    }

    &__row {
        td {
            border: 1px solid #ddd;
            padding: 8px;
        }   
    }
}

.cf__resultado {
    font: 18px sans-serif;
    text-align: center;
}