{% extends "base.html" %}
{% block titulo %}Login{% endblock %}
{% block js %}
    function salvar() {
        document.getElementById("form_principal").submit();
    }
    function enviarCodigo() {
        document.getElementById("form_reenviarCodigo").submit();
    }
{% endblock %}
{% block conteudo %}
    <div class="form__title">Autenticar</div>
    <form class="form" action="/autenticar" method="POST" id="form_principal" enctype="multipart/form-data">
        <div class="form__item">
            <label for="codigo_validacao">Código de autenticação:</label>
            <input type="text" id="codigo_validacao" name="codigo_validacao" autocomplete="off"/>
        </div>
        <div class="form__item">
            <button class="form__button" type="button" onclick="javascript:salvar();">Enviar</button>
        </div>
    </form>
    <form class="form" action="/enviarcodigo" method="POST" id="form_reenviarCodigo" enctype="multipart/form-data">
        <div class="form__item">
            <button class="form__button" type="button" onclick="javascript:enviarCodigo();">Reenviar Código</button>
        </div>
    </form>
{% endblock %}
