<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block titulo %}{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'base.css') }}"/>
        <link rel="icon" href="{{ url_for('static', filename = 'logo.png') }}">
        <script src="{{ url_for('static', filename = 'main.js') }}"></script>
        <script type="text/javascript">
            {% block js %}{% endblock %}
        </script>
    </head>
    <body>
        <nav class="nav__wrapper">
            <a class="nav__logo nav__link" href="/">
                King Pet
            </a>
            <ul class="nav__items">
                <li class="nav__item">
                    <a class="nav__link" href="/produto">Listar Produtos</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/usuario">Listar Usuários</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/produto/novo">Cadastrar Produto</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/usuario/novo">Cadastrar Usuário</a>
                </li>
            </ul>
        </nav>
        <div class="kp">
            {% block conteudo %}{% endblock %}
        </div>
    </body>
</html>
