{% extends "base.html" %}
{% block titulo %}Cadastrar usuário{% endblock %}
{% block js %}
    function salvar() {
        document.getElementById("form_principal").submit();
    }

    {% if produto['id_produto'] != 'novo' %}
        function excluir() {
            if (!confirm("Você tem certeza?")) return;
            xhr = new XMLHttpRequest();
            xhr.open('DELETE', "{{ url_for('deletar_produto', id_produto = produto['id_produto']) }}");
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                if (xhr.readyState !== 4) return;
                if (xhr.status === 200 || xhr.status === 404) {
                    document.open();
                    document.write(xhr.responseText);
                    document.close();
                } else {
                    alert('Erro ' + xhr.status);
                }
            };
            xhr.send();
        }
    {% endif %}
{% endblock %}
{% block conteudo %}
    {% if produto['id_produto'] != 'novo' %}
        <div class="kp__title">Editar Produto</div>
    {% else %}
        <div class="kp__title">Cadastrar Produto</div>
    {% endif %}
    <form class="form" action="/produto/{{ produto['id_produto'] }}" method="POST" id="form_principal" enctype="multipart/form-data">
        {% if produto['id_produto'] != 'novo' %}
            <div class="form__item">
                <label>Id:</label>
                {{produto['id_produto']}}
            </div>
        {% endif %}
        <div class="form__item">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" autocomplete="off" value="{{produto['nome_produto']}}" />
        </div>
        <div class="form__item">
            <label>Tipo:</label>
            <input type="text" id="tipo" name="tipo" autocomplete="off" value="{{produto['tipo_produto']}}" />
        </div>
        <div class="form__item">
            <label>Foto:</label>
            <input type="text" id="foto" name="foto" autocomplete="off" value="{{produto['foto_produto']}}" />
        </div>
        <div class="form__item">
            <label>Preço de Compra:</label>
            <input type="text" id="preco_compra" name="preco_compra" autocomplete="off" value="{{produto['preco_compra_produto']}}" />
        </div>
        <div class="form__item">
            <label>Preço de Venda:</label>
            <input type="text" id="preco_venda" name="preco_venda" autocomplete="off" value="{{produto['preco_venda_produto']}}" />
        </div>
        <div class="form__item">
            <label>Quantidade:</label>
            <input type="text" id="quantidade" name="quantidade" autocomplete="off" value="{{produto['quantidade_produto']}}" />
        </div>
        <div class="form__item">
            <button class="form__button" type="button" onclick="javascript:salvar();">Salvar</button>
            {% if produto['id_produto'] != 'novo' %}<button class="form__button" type="button" onclick="javascript:excluir();">Excluir</button>{% endif %}
        </div>
    </form>
    <div><a href="/">Voltar</a></div>
{% endblock %}
