{% extends "base.html" %}
{% block titulo %}Menu{% endblock %}
{% block js %}
    function logout() {
        document.getElementById("form_logout").submit();
    }
{% endblock %}
{% block conteudo %}
    <div class="menu">
        <img class="menu__logo" src="{{ url_for('static', filename = 'logo.png') }}" alt="">
    </div>
    <!-- <p><a class="kp__menu__item" href="#" onclick="javascript:logout()">Logout</a></p>
    <form action="/logout" id="form_logout" method="POST" style="display: none"></form> -->
{% endblock %}