{% extends "base.html" %}
{% block titulo %}Pesquisa{% endblock %}
{% block js %}
    function salvar() {
        document.getElementById("form_principal").submit();
    }
{% endblock %}
{% block conteudo %}
    <div class="form__title">Google</div>
    <form class="form" action="/google" method="POST" id="form_principal" enctype="multipart/form-data">
        <div class="form__item">
            <label for="google_search">Pesquisa:</label>
            <input type="text" id="google_search" name="google_search" autocomplete="off"/>
        </div>
        <div class="form__item">
            <button class="form__button" type="button" onclick="javascript:salvar();">Enviar</button>
        </div>
    </form>

    <form name="PrePage" method = "post" action = "https://scotest.authorize.net/payment/CatalogPayment.aspx"> <input type = "hidden" name = "LinkId" value ="003ded36-8c60-4b37-ab2b-9d994da3875f" /> <input type = "image" src ="//testcontent.authorize.net/images/buy-now-gold.gif" /> </form>
{% endblock %}
