{% extends "base.html" %}
{% block titulo %}Profile{% endblock %}
{% block js %}
    function salvar() {
        document.getElementById("form_principal").submit();
    }
{% endblock %}
{% block conteudo %}
    {% if erro %}
        <p>Erro: {{erro}}</p>
    {% endif %}
    <p>
        {{g.user.nome_usuario}}'s Profile
    </p>

    {% if g.user.STATUS == 0 %}
        <div><a href="/autenticar">Autenticar usuário</a></div>
    {% endif %}

    <form action="/login" method="DELETE" id="form_principal" enctype="multipart/form-data">
        <button type="button" onclick="javascript:salvar();">Encerrar sessão</button>
    </form>
{% endblock %}